@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;

    box-sizing: border-box;
    padding: 2rem;
    height: 100vh;
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #859398,
        #283048
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #859398,
        #283048
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @include customScrollbar();

    @media (max-width: 480px) {
        padding: 0;
    }
}
