#container {
    @include relative();
    width: 350px;
    height: 650px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 3rem 4rem rgba($color-black, 0.5);
    border: $small-2 solid $color-white;
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px) {
        width: 100%;
        height: 100%;
        border: none;
    }

    .primary-heading,
    .secondary-heading {
        width: 100%;
        background-color: $color-white;
        color: $color-black;
        text-align: center;
    }

    .primary-heading {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    .secondary-heading {
        font-size: 0.8rem;
    }

    .clock-wrapper {
        margin: $large-2 0;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        @include relative();

        &::before {
            background-color: rgba($color-white, 0.25);
            border-radius: 50%;
            content: "";
            @include center();
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
        }

        &::after {
            background: $color-white;
            border-radius: 50%;
            content: "";
            @include center();
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
        }

        .minutes-container,
        .hours-container,
        .seconds-container,
        .milliseconds-container {
            @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0);
        }

        .hours-container {
            .hours {
                background: $color-white;
                height: 20%;
                @include absolute($top: 30%, $left: 48.75%);
                transform-origin: 50% 100%;
                width: 2.5%;
                border-radius: $medium;
            }
        }

        .minutes-container {
            .minutes {
                background: $color-white;
                height: 40%;
                @include absolute($top: 10%, $left: 49%);
                transform-origin: 50% 100%;
                width: 2%;
                border-radius: $medium;
            }
        }

        .seconds-container {
            .seconds {
                background: $color-white;
                height: 45%;
                @include absolute($top: 14%, $left: 49%);
                transform-origin: 50% 50%;
                width: 2%;
                border-radius: 50%;
            }
        }

        .milliseconds-container {
            .milliseconds {
                background: $color-white;
                height: 3%;
                @include absolute($top: 30%, $left: 49.5%);
                transform-origin: 50% 80%;
                width: 3%;
                border-radius: 50%;
            }
        }
    }

    .time {
        width: 100%;
        text-align: center;
        background-color: $color-white;
        #timer {
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-black;
        }
    }

    .bg-shape-1 {
        @include absolute($bottom: 0, $left: 0);
        width: 100%;
        height: 300px;
        background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);

        clip-path: polygon(85% 0%, 100% 15%, 100% 100%, 0% 100%);
    }

    .bg-shape-2 {
        @include absolute($bottom: 0, $left: 0);
        width: 100%;
        opacity: 0.75;
        height: 300px;
        background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
        clip-path: polygon(68% 5%, 100% 35%, 100% 100%, -14% 100%);
        z-index: -1;
    }

    .btn-container {
        margin: $large 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .laps-container {
        width: 100%;
        height: 210px;
        margin-top: auto;
        overflow: auto;

        ul {
            padding: $medium;
            text-align: center;

            li {
                padding: $small-2;
                border: 1px solid $color-gray;
                display: flex;
                color: $color-white;
                justify-content: space-evenly;

                &:not(:last-child) {
                    margin-bottom: $medium;
                }

                a {
                    cursor: pointer;
                    transition: all 0.1s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
