// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray-light: #eee;
$color-gray: #ccc;
$color-gray-dark: #555;
$bg-color: #2b86c5;
$bg-color-2: #106bac;


// VALUES
$small: 2px;
$small-2: 4px;
$medium: 8px;
$medium-2: 12px;
$large: 16px;
$large-2: 24px;
$x-large: 32px;
$x-large-2: 36px;
$xx-large: 48px;
$xx-large-2: 64px;